.date {
    flex:1;
    font-family: 'Varela Round', sans-serif;
    font-weight: 100;
    font-size: 12px;
}

.title {
    flex: 5;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 40px;
}

.description{
    flex: 6;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
}